@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}
.btn{
    padding: 12px 20px;
    border: 2px solid black;
    width: 170px;
    text-align: center;
    margin-top: 32px;
}
.hero-section {
    background-image: url('assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    /* min-height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero-section h2 {
    font-size: 45px;
    width: 1068px;
    font-weight: bold;
    text-align: center;
}

.hero-section p {
    text-align: center;
    margin: 30px;
    width: 70%;
    color: #0D1321;
}
.hero-section button{
    background-color: #0D1321;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    padding: 21px 24px;
    color: #ffffff;
    margin-bottom: 45px;
}

/* development section style here  */
.development{
    padding: 80px 90px;
    margin: 0 auto;
}
.development-content h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.development-content p{
    text-align: center;
    margin-top: 20px;
}
.development-row1{
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.development-row1 .development-description{
    margin-top: 16px;
    padding-right: 100px;
}
.development-row1 .development-box1{
    width: 50%;
}

/* Inspiration section style  */
.inspiration{
    margin-top: 90px;
}
.inspiration-content{
    width: 80%;
    margin: 0 auto;
}
.inspiration-content h2{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
}
.inspiration-content p{
    color: #0D1321;
    text-align: center;
    margin-bottom: 48px;
}
.youtube-video{
    text-align: center;
}
.youtube-video iframe{
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
}