@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}
.btn{
    padding: 12px 20px;
    border: 2px solid black;
    width: 170px;
    text-align: center;
    margin-top: 32px;
}
.hero-section {
    background-image: url('assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    /* min-height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero-section h2 {
    font-size: 45px;
    width: 1068px;
    font-weight: bold;
    text-align: center;
}

.hero-section p {
    text-align: center;
    margin: 30px;
    width: 70%;
    color: #0D1321;
}
.hero-section button{
    background-color: #0D1321;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    padding: 21px 24px;
    color: #ffffff;
    margin-bottom: 45px;
    cursor: pointer;
}

/* development section style here  */
.development{
    padding: 80px 90px;
    margin: 0 auto;
}
.development-content h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.development-content p{
    text-align: center;
    margin-top: 20px;
}
.development-row1{
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.development-row1 .development-description{
    margin-top: 16px;
    padding-right: 100px;
}
.development-row1 .development-box1{
    width: 50%;
}

/* Inspiration section style  */
.inspiration{
    margin-top: 90px;
}
.inspiration-content{
    width: 80%;
    margin: 0 auto;
}
.inspiration-content h2{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
}
.inspiration-content p{
    color: #0D1321;
    text-align: center;
    margin-bottom: 48px;
}
.youtube-video{
    text-align: center;
}
.youtube-video iframe{
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
}

/* target section style  */
.target{
    margin-top: 150px;
    width: 80%;
    margin: 150px auto 0px;
}
.target-content{
    margin-bottom: 48px;
}
.target-content h2{
    text-align: center;
    margin-bottom: 24px;
}
.target-content p{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    line-height: 26px;
}
.target-skill{
    display: flex;
    gap: 24px;
}
.target-skill .html{
    width: 360px;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.target-skill .html h3{
    margin-top: 24px;
    margin-bottom: 8px;
    color: rgba(13, 19, 33, 1);
    font-weight: bold;
}
.target-skill .html p{
    margin-bottom: 24px;
}
.target-skill .css{
    width: 360px;
    background-color: rgba(0, 76, 232, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.target-skill .css h3{
    margin-top: 24px;
    margin-bottom: 8px;
    color: rgba(13, 19, 33, 1);
    font-weight: bold;
}
.target-skill .css p{
    margin-bottom: 24px;
}
.target-skill .js{
    width: 360px;
    background-color: rgba(255, 223, 0, 0.05);
    padding: 40px;
    border-radius: 16px;
}
.target-skill .js h3{
    margin-top: 24px;
    margin-bottom: 8px;
    color: rgba(13, 19, 33, 1);
    font-weight: bold;
}
.target-skill .js p{
    margin-bottom: 24px;
}

/* support section style  */
.support{
    width: 80%;
    margin: 0 auto;
    background-image: url('assets/handshake.jpg');
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}
.support .support-container{
    padding: 64px 48px;
}
.support-container h2{
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.support-container p{
    color: #ffffff;
    text-align: center;
    margin-bottom: 32px;
}
.support-container .feedback{
    text-align: center;
}
.support-container .feedback input[type="text"]{
    padding: 19px 215px 19px 20px;
    border-radius: 8px;
}
.support-container .feedback input[type="submit"]{
    padding: 19px 20px;
    border-radius: 8px;
}

/* footer style here  */
.footer{
    padding: 32px 150px;
    margin-top: 80px;
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
}